/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
    font-family: sans-serif; /* 1 */
    -ms-text-size-adjust: 100%; /* 2 */
    -webkit-text-size-adjust: 100%; /* 2 */
}

/* background img */

#headline {
    padding: 0.8em;
    color: white;
    font-family: Roboto, helvetica, arial, sans-serif;
    background-color: black;
    background-image: url("http://googlesamples.github.io/web-fundamentals/samples/getting-started/your-first-multi-screen-site/hero.jpg");
    background-size: cover;
}

#headline h1 {
    font-weight: 200;
    font-size: 60px;
    line-height: 1em;
    margin-bottom: 0;
}

#headline #register {
    background-color: #39b1a4;
    padding: 1em;
}
