html {
    font-family: Roboto, helvetica, arial, sans-serif;
    font-weight: 200;
    font-size: 18px;
    padding: 0;
}

h1 {
    font-family: Roboto, helvetica, arial, sans-serif;
    font-weight: 200;
    font-size: 60px;
}

h2 {
    font-family: Roboto, helvetica, arial, sans-serif;
    font-weight: 200;
    font-size: 60px;
}

h3 {
    font-family: Roboto, helvetica, arial, sans-serif;
    font-weight: 200;
    font-size: 30px;
}

input {
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 20px;
    color: initial;
}

/*
p {
}
// p element shall be loaded in the late phase
// avoid overriding previous setting
*/
