html {
    font-family: Roboto, helvetica, arial, sans-serif;
    font-weight: 200;
    font-size: 18px;
    padding: 0px;
}

div {
    font-family: Roboto, helvetica, arial, sans-serif;
    font-weight: 200;
    font-size: 18px;
    padding: 20px;
}

h1 {
    font-family: Roboto, helvetica, arial, sans-serif;
    font-weight: 200;
    font-size: 60px;
}

h2 {
    font-family: Roboto, helvetica, arial, sans-serif;
    font-weight: 200;
    font-size: 60px;
}

h3 {
    font-family: Roboto, helvetica, arial, sans-serif;
    font-weight: 200;
    font-size: 30px;
}

/*
p {
}
// p element shall be loaded in the late phase
// avoid overriding previous setting
*/
