#headline {
    padding: 5%;
    color: white;
    background-color: black;
    /* responsive - Add stylistic images */
    background-image: url("http://googlesamples.github.io/web-fundamentals/samples/getting-started/your-first-multi-screen-site/hero.jpg");
    background-size: cover;
}

#headline h1 {
    line-height: 1em;
    margin-bottom: 0;
}

#headline h3 {
    line-height: 1em;
    margin-top: 20px;
    margin-bottom: 30px;
}

#headline #blurb {
    font-size: 16px;
}

#headline #register {
    background-color: rgba(57, 177, 164, 0.7);
    padding: 5%;
}

#headline #register label {
    display: block;
    font-size: 1.2em;
    margin-bottom: 0.2em;
}

#headline #register input[type=submit] {
    color: white;
    background-color: hsl(8, 70%, 54%);
    border: none;
}

#section1 {
    padding: 5%;
}

#section1 .images {
    width: 100%;
}

#section2 {
    padding: 5%;
    color: black;
    background-color: palevioletred;
}

#section3 {
    padding: 5%;
}

#section3 .video {
    width: 100%;
}

#footline {
    padding: 5%;
    color: white;
    background-color: hsl(8, 70%, 54%);
    text-align: center;
}

