/* responsive - Constrain the maximum width of the design for wide viewport */

.container {
    margin: auto; /* browser defines it. align in center if element is display: block */
    max-width: 800px;
}

/* responsive - clear the floats */

.float-clear {
    clear: both;
}

/* responsive - Increase margin, padding or text size for wide viewport */

/* responsive - Float the Form element for wide viewport */

#headline #blurb {
    float: left;
    width: 48%;
    box-sizing: border-box; /* use border as width instead of content */
}

#headline #register {
    float: right;
    width: 48%;
    box-sizing: border-box; /* use border as width instead of content */
    margin-left: 1%;
}

/* responsive - Tile the Images for wide viewport */

#section1 img {
    display: inline-block;
    vertical-align: middle;
    width: 33%;
}

/* responsive - Float the Video element for wide viewport */

#section3 ul {
    float: left;
    width: 48%;
    box-sizing: border-box; /* use border as width instead of content */
}

#section3 .video-float {
    float: right;
    width: 48%;
    box-sizing: border-box; /* use border as width instead of content */
    margin-left: 1%;
}

/* responsive - Tile the Images for wide viewport */