#headline {
    padding: 5%;
    color: white;
    background-color: black;
    /* responsive - Add stylistic images */
    background-image: url("http://googlesamples.github.io/web-fundamentals/samples/getting-started/your-first-multi-screen-site/hero.jpg");
    background-size: cover;
}

#headline h1 {
    line-height: 1em;
    margin-bottom: 0;
}

#headline h3 {
    line-height: 1em;
    margin-top: 20px;
    margin-bottom: 30px;
}

#headline #blurb {
    font-size: 16px;
}

#headline #register {
    background-color: rgba(57, 177, 164, 0.7);
    padding: 5%;
}

#headline #register label {
    display: block;
    font-size: 1.2em;
    margin-bottom: 0.2em;
}

#headline #register input[type=submit] {
    color: white;
    background-color: hsl(8, 70%, 54%);
    border: none;
}

#section1 {
    padding: 5%;
}

/* vertical-align: middle is the key to align images in the middle of text line */
/* http://phrogz.net/css/vertical-align/index.html */

#section1 img {
    /* display: inline-block; */
    vertical-align: middle;
    width: 100%;
}

#section2 {
    padding: 5%;
    color: black;
    background-color: palevioletred;
}

#section3 {
    padding: 5%;
}

/* responsive - resize a video on the fly */
/* http://alistapart.com/article/creating-intrinsic-ratios-for-video */
/* http://fitvidsjs.com/ */

#section3 .video-resize {
	position: relative; /* all child elements will position themselves in relation to this container */
	padding-bottom: 56.25%; /* leave space for 16:9 iframe */
	height: 0; /* give this element layout for IE box model */
}

#section3 .video-resize iframe,
#section3 .video-resize div,
#section3 .video-resize object, /* Safari */
#section3 .video-resize embed { /* Firefox */
	position: absolute; /* positioned over the padding area */
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#footline {
    padding: 5%;
    color: white;
    background-color: hsl(8, 70%, 54%);
    text-align: center;
}
